---
layout: base.njk
pagination:
  data: collections.tagPages
  size: 1
  alias: tag
permalink: "/t/{{ tag.slug }}/"
eleventyComputed:
  title: "{{ tag.title }}"
  description: "{{ tag.description }}"
---
{%- set view = tag %}
{%- set emptyLabel = "No games on this tag yet." %}
{% include "view.njk" %}
